:root {
  --dolphin: #72c7e2;
  --shamrock: #5089e3;
  --seaweed: #146e54;
  --mustard: #f9d44b;
  --dreamsicle: #ec7c2f;
  --hot-tamale: #ee3441;
  --black-abyss: #000000;
  --charcoal: #5b5d58;
  --elephant: #938d87;
  --rhino: #dedbd7;
  --snow-ball: #ffffff;
}
